{% load static %}
<html>
<head>

    <title>Stockbridge Construction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="content-security-policy|content-type|default-style|refresh">
    <meta http-equiv="refresh" content="1800">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
        $(document).ready(function(){
            $('#auto').load('home.html');
            refresh();
        });

        function refresh()
        {
                setTimeout( function() {
                    $('#auto').fadeOut('slow').load('home.html').fadeIn('slow');
                    refresh();

                }, 200);
        }

        function power()
        {
            $('#auto').location.reload()
        }
    </script>
<script>
    function reload(){
        var container = document.getElementById("yourDiv");
        var content = container.innerHTML;
        container.innerHTML= content; 
    
   //this line is to watch the result in console , you can remove it later	
        console.log("Refreshed"); 
    }
</script>
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null; 
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i=0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    //Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    }
                }
            }
            return cookieValue
        }
        var csrftoken = getToken('csrftoken')

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");

            //Loop through the array elements
            for(var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name and compaire it with the given string */
                if(name == cookiePair[0].trim()) {
                    //Decode the cookie value and return 
                    return decodeURIComponent(cookiePair[1]);

                }
            }
                //Return null if not found
                return null;
        }
                var cart = JSON.parse(getCookie('cart'))
            
                if (cart == undefined) {
                    cart = {}
                    console.log('Cart Created!', cart)
                    document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
                }
                console.log('Cart:', cart)

    </script>
    </head>
    <body>
            <a href="javascript: reload()"></a>
                    <div class="top-banner"></div>
                    <a href="{% url 'load'%}"><img class="logo" src="{% static "images/beeyourgclogo.png"%}"></a>
                        
                                <div class="wrapper">
                                    <ul>
                                            <li> HIVENET 
                                                    <ul>
                                                          <a href="{% url 'account'%}"><li> Account </li></a>
                                                            <br>
                                                    </ul>
                                                    <ul>
                                                          <a href="{% url 'portal'%}"><li>Portal </li></a>
                                                          <br>
                                                    </ul>
                                                    <ul>
                                                          <a href="{% url 'the_settings'%}"><li> Settings</li></a>
                                                          <br>
                                                    </ul>
                                                    <ul>
                                                          <a href="{% url 'help'%}"><li>Assistance</li></a>
                                                          <br>
                                                    </ul>
                                            </li>
                                    </ul>
                                </div>
                            <nav class="navbar navbar-expand-lg navbar-light"> </nav>


                                            
                    <div class="bottom-banner" style="text-align: center;">
                            <br>
                            <P style="color:black; font-size: 1.0vw;"> Copyright &#169; 2021 Stockbridge Construction. All Rights Reserved. </P>

                    
                    </div>



            {% block content %}



            {% endblock content %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    </body>
    </html>